a {
    text-decoration: none;
    color: #fff;
}

.menubar{
    background-color: #777;
    overflow: auto;
    
}

.menubar a{
    padding: 12px;
    display:inline-block;
    font-size: 18px;
    float: left;
}

.menubar a:hover{
    background-color: #000;
}
.menubar a.active{
    background-color: rgb(189, 75, 75);
}
